.play-container {
	position: relative;
	background-color: #2a4e7a;
	font-family: "ËÎÌå";
	font-size: 12px;
}

.play-container .time-wrap {
	color: #dcdcdc;
	display: flex;
	align-items: center;
	padding: 0 2px;
	margin: 2px 0;
}

.play-container .time-wrap .progress-wrap {
	flex: 1;
	height: 6px;
	position: relative;
	margin: 0 2px;
	background-color: #213d60;
	cursor: pointer;
    border-radius: 10px;
}

.play-container .time-wrap .progress-bar-p {  // progress-bar  bootstrap ³åÍ»
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.play-container  .time-wrap .progress {
	left: 0;
	top: 0;
	height: 100%;
	position: absolute;
	background-color: #aad56c;
    border-radius: 10px;
}

.play-container  .progress-dot {
	top: 50%;
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #3195fd;
	transform: translate3d(0, -50%, 0);
	display: none;
}

.play-container .play-operateBox {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.play-container .play-detail {
	flex: 1;
	text-align: center;
	padding: 2px 0;
}

.play-container   .play-detail>span {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50%;
	cursor: pointer;
	user-select: none;
}

.play-container   .play-detail .prev {
	background: url("../images/play-prev.png") center no-repeat;
}

.play-container  .play-detail .play {
	background: url("../images/play-play.png") center no-repeat;
	margin: 0 30px;
}

.play-container  .play-detail .pause {
	background: url("../images/play-pause.png") center no-repeat;
}

.play-container	.play-detail .next {
	background: url("../images/play-next.png") center no-repeat;
}

